---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Tabs from "../components/Tabs.astro";
---

<Layout>
  <Showcase showExtra={true} />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Get Started With Astro</h2>
      <p>
        Get a new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
      <Tabs
        headings={["NPM", "PNPM", "YARN"]}
        contents={[
          "$ npm create astro@latest",
          "$ pnpm create astro@latest",
          "$ yarn create astro",
        ]}
      />

      <h3>Key Features</h3>
      <ul>
        <li>
          <strong>&bull; Component Islands:</strong> A new web architecture for building
          faster websites.
        </li>
        <li>
          <strong>&bull; Server-first API design:</strong> Move expensive hydration
          off of your users’ devices.
        </li>
        <li>
          <strong>&bull; Zero JS, by default:</strong> No JavaScript runtime overhead
          to slow you down.
        </li>
        <li>
          <strong>&bull; Edge-ready:</strong> Deploy anywhere, even a global edge
          runtime like Deno or Cloudflare.
        </li>
        <li>
          <strong>&bull; Customizable:</strong> Tailwind, MDX, and 100+ other integrations
          to choose from.
        </li>
        <li>
          <strong>&bull; UI-agnostic:</strong> Supports React, Preact, Svelte, Vue,
          Solid, Lit and more.
        </li>
      </ul>
    </div>
  </section>
</Layout>
